#tutorial-step-overlay {
    position: fixed;
    z-index: 20000;
    left: 0; top: 0; right: 0; bottom: 0;
    pointer-events: none;
}

#tutorial-step-overlay .tutorial-screen {
    position: fixed;
    top: 0; left: 0; right:0; bottom:0;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1;
    pointer-events: auto;
    cursor: pointer;
}

.tutorial-step {
    position: absolute;
    z-index: 10;
    min-width: 180px;
    pointer-events: none;
    display: flex;
    align-items: center;
}

.tutorial-step, .tutorial-step * {
    pointer-events: none !important;
    user-select: none !important;
}

.tutorial-step .tutorial-bubble {
    background: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
    padding: 15px 18px;
    font-size: 1rem;
    font-weight: 500;
    border: 2px solid #e70d2f;
    max-width: 310px;
    text-align: left;
}

.tutorial-arrow {
    position: absolute;
    width: 26px;
    height: 26px;
    z-index: 11;
}

.arrow-top {
    top: -26px;
    left: 50%;
    transform: translateX(-50%);
    background: url('data:image/svg+xml;utf8,<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><polygon points="13,0 26,26 0,26" fill="red"/></svg>') no-repeat center center;
    background-size: contain;
}

.arrow-bottom {
    bottom: -26px;
    left: 50%;
    transform: translateX(-50%);
    background: url('data:image/svg+xml;utf8,<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 26,0 13,26" fill="red"/></svg>');
}

.arrow-left {
    left: -26px;
    top: 50%;
    transform: translateY(-50%);
    background: url('data:image/svg+xml;utf8,<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><polygon points="26,0 0,13 26,26" fill="red"/></svg>') no-repeat center center;
    background-size: contain;
}

.arrow-right {
    right: -26px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    background: url('data:image/svg+xml;utf8,<svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><polygon points="26,13 0,0 0,26" fill="red"/></svg>');
}

